# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# logs file
logs
prod-logs

# files
upload/images/*
upload/algos/*

# keep empty folder by this file
!.empty

# cert
cert/*